<h2>Profile</h2>
<h3>Name:</h3>
<h3><%= @hunter.name %></h3>
<br>
<h3>Email:</h3>
<h3><%= @hunter.email %></h3>
<br>
<!-- <h3><a href='/hunters/edit'>Edit your profile information</a></h3> -->
<br>
<br>
<br>
<h3><a href='/snakes/new'>Add a catch to your bag!</a></h3>
<h3><a href='/snakes'>Peak inside the bag!</a></h3>
<h3><a href='/snake_bag'>Peak inside your bag!</a></h3>
<h3><a href='/logout'>Logout</a></h3>

  