<h2>Calling All Hunters!</h2>
<br>
<h3>Sign Up Here!</h3>
<br>
<form class ="" action ="/hunters" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="">
  <label for="email">Email:</label>
  <input type="text" name="email" value="">
  <label for="password">Password:</label>
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Create Hunter!">
</form>