<h2>Add new python!</h2>
<br>
<br>
<form class ="" action ="/snakes" method="post">
  <label for="content">Description:</label>
  <input type="text" name="content" value="">
  <label for="length">Length (feet):</label>
  <input type="integer" name="length" value="">
  <label for="weight">Weight (pounds):</label>
  <input type="integer" name="weight" value="">
  <label for="monetary_value">Monetary Value (dollars):</label>
  <input type="decimal" name="monetary_value" value="">
  <input type="submit" name="" value="Create Snake!">
</form>