<h2>Here's your catch!</h2>
<br>
<h3>Description:</h3>
<%= @snake.content %>
<br>
<h3>Length (feet):</h3>
<%= @snake.length %>
<h3>Weight (pounds):</h3>
<%= @snake.weight %>
<h3>Value (dollars):</h3>
<%= @snake.monetary_value %>