<div class="container">
  <header><img src="images/wildmanlogo copy1.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Wildman's Python Tracker!</h2>

    <div class="content">
      <p>Welcome to Wildman's Python Tracker! Here you can record and save all of your python captures for easy viewing!</a></p>
    </div>

    <div class="sidebar">
      <h3>Help protect the Everglades!</h3>
      <ul>
        <li><a href='/signup'><b>Signup!</b></a><li>
        <li><a href='/login'><b>Login!</b></a></li>
        <li><a href='/logout'>Logout!</a></li>
      </ul>
    </div>

  </div>
</div>
